<h1>Book Detail</h1>

 <table>


    <tbody>
      <tr>
        <td>
          <a href= > </a>
          <a href= > </a></td>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
      </tr>
    </tbody>

  </table>