<div class="container">
  <div class="row">
    <div class="mx-auto mt-4 col-11 ">
      <h1>welcome to <i class="fa-solid fa-book"></i>Bookers !!</h1>
      <p>In <i class="fa-solid fa-book"></i>Bookers,</p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>
      
      <div class="btn-wrapper col-10 mx-auto">
        <button class="btn btn-info" type="button">Button</button>
        <button class="btn btn-success" type="button">Button</button>
      </div>
      <p>login</p>
      <p>sign up</p>
      
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary btn-block">ボタン</button>
        <button type="button" class="btn btn-primary btn-block">ボタン</button>  
      </div>
    </div>
    
    <div>
 

    </div>
  </div>
</div>

